<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestionnaireMapper">
  <resultMap id="questionnaireMap" type="Questionnaire">
    <id property="questionnaireId" column="questionnaire_id" />
    <result property="theme" column="theme" />
    <result property="title" column="title" />
    <result property="style" column="style" />
    <result property="status" column="status" />
  </resultMap>
  <sql id="table">asmt_questionnaire</sql>
  <sql id="attr0">questionnaire_id</sql>
  <sql id="attr1">theme</sql>
  <sql id="attr2">title</sql>
  <sql id="attr3">style</sql>
  <sql id="attr4">status</sql>
  <sql id="val0">#{questionnaireId}</sql>
  <sql id="val1">#{theme}</sql>
  <sql id="val2">#{title}</sql>
  <sql id="val3">#{style}</sql>
  <sql id="val4">#{status}</sql>
  <sql id="eqn0">
    <include refid="attr0" />
    =
    <include refid="val0" />
  </sql>
  <sql id="eqn1">
    <include refid="attr1" />
    =
    <include refid="val1" />
  </sql>
  <sql id="eqn2">
    <include refid="attr2" />
    =
    <include refid="val2" />
  </sql>
  <sql id="eqn3">
    <include refid="attr3" />
    =
    <include refid="val3" />
  </sql>
  <sql id="eqn4">
    <include refid="attr4" />
    =
    <include refid="val4" />
  </sql>
  <sql id="attrPrimary">
    <include refid="attr0" />
  </sql>
  <sql id="attrOthers">
    <include refid="attr1" />
    ,
    <include refid="attr2" />
    ,
    <include refid="attr3" />
    ,
    <include refid="attr4" />
  </sql>
  <sql id="attrAll">
    <include refid="attrPrimary" />
    ,
    <include refid="attrOthers" />
  </sql>
  <sql id="valPrimary">
    <include refid="val0" />
  </sql>
  <sql id="valOthers">
    <include refid="val1" />
    ,
    <include refid="val2" />
    ,
    <include refid="val3" />
    ,
    <include refid="val4" />
  </sql>
  <sql id="valAll">
    <include refid="valPrimary" />
    ,
    <include refid="valOthers" />
  </sql>
  <sql id="eqnPrimary">
    <include refid="eqn0" />
  </sql>
  <sql id="eqnOthers">
    <include refid="eqn1" />
    ,
    <include refid="eqn2" />
    ,
    <include refid="eqn3" />
    ,
    <include refid="eqn4" />
  </sql>
  <sql id="eqnAll">
    <include refid="eqnPrimary" />
    ,
    <include refid="eqnOthers" />
  </sql>
  <sql id="eqnWhere">
    <include refid="eqn0" />
  </sql>
  <insert id="insert" parameterType="Questionnaire">
    INSERT INTO
    <include refid="table" />
    (
    <include refid="attrAll" />
    ) VALUES (
    <include refid="valAll" />
    )
  </insert>
  <delete id="delete" parameterType="String">
    DELETE FROM
    <include refid="table" />
    WHERE
    <include refid="eqnWhere" />
  </delete>
  <delete id="batchDelete" parameterType="List">
    DELETE FROM
    <include refid="table" />
    WHERE
    <include refid="attrPrimary" />
    IN
    <foreach item="item" index="index" collection="list" open="("
      separator="," close=")">#{item}</foreach>
  </delete>
  <update id="update" parameterType="Questionnaire">
    UPDATE
    <include refid="table" />
    SET
    <include refid="eqnAll" />
    WHERE
    <include refid="eqnWhere" />
  </update>
  <select id="selectOne" parameterType="String" resultType="Questionnaire">
    SELECT
    <include refid="attrAll" />
    FROM
    <include refid="table" />
    WHERE
    <include refid="eqnWhere" />
  </select>
  <select id="selectList" parameterType="String" resultType="Questionnaire">
    SELECT
    <include refid="attrAll" />
    FROM
    <include refid="table" />
  </select>
</mapper>